.chat-room{
    padding: 0 var(--basic--margin);
    position: relative;
    bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.blue-screen{
    background-color: var(--blue);
    height: 500vh;
}

.chat-room__alt-screen__bar-icon{
    margin-left: 25px;
}

.chat-room__status-bar{
    z-index: 2;
}
.chat-room__status-bar,
.chat-room__alt-screen{
    background-color: var(--blue);
}

.chat-room__alt-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 10px 0px 0px;
    padding-top: 15px;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    top:-10px;
    z-index: 1;
}

.chat-room__alt-screen__column{
    width: 33%;
}

.chat-room__alt-screen__column:first-child{
    margin-left: 20px;
}

.chat-room__alt-screen__column:nth-child(2){
    display: flex;
    justify-content: center;
    font-size: 15px;
}

.chat-room__alt-screen__column:last-child{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-right: 20px;
}

.alt-screen__column__text{
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 23px;
}
.chat-room__alt-screen__column__text{
    font-size: 20px;
}

.chat-room__header{
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    background-color: #92a4b2;
    padding: 7px;
    border-radius: 15px;
    margin: 45px 0 0px 0;
}

.chat-room-screen__link{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.chat-room__link__column{
    position: relative;
    bottom: -9px;
}

.chat-room__chat__column{
    display: flex;
}

/*
.chat-room__chat__column:last-child{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 25px;
}

.chat-room__chat__second-chat__text{
    display: block;
    width: 100px;
    height: 30px;
    padding: 8px;
    background-color: var(--yellow);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-top-right-radius: 0px;
}

.chat-room__chat__second-chat__time{
    opacity: 0.7;
    font-size: 13px;
    margin-right: 10px;
}
*/

/*-------------------------------------*/
/*first-chat*/

.first-chat__main-text{
    display: flex;
    align-items: flex-end;
}


.chat-room__chat{
    position: relative;
    bottom: -80px;
    margin: 0px 20px;
}

.chat-room__chat__img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.chat-room__chat__first-chat{
    margin-left: 10px;
    position: relative;
}

.chat-room__chat__first-chat__title{
    opacity: 0.7;
}

.chat-room__chat__first-chat__text{
    display: block;
    margin-top: 10px;
    background-color: white;
    padding: 8px 13px;
    font-size: 20px;
    border-radius: 10px;
    border-top-left-radius: 0px;
}

.chat-room__chat__first-chat__time{
    opacity: 0.7;
    font-size: 13px;
    margin-left: 10px;
}

/*-------------------------------------*/
/*second-chat*/

.chat-room__own-chat{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: 25px;
}

.chat-room__own-chat .chat-room__chat__first-chat__text{
    background-color: var(--yellow);
    margin-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}


/*-------------------------------------*/
/* keyboard */

/*
.chat-room__keyboard__white-chat-box{
background-color: white;
}

.chat-room__keyboard__column{
display: flex;
justify-content: space-between;
align-items: center;
margin: 0px 20px;
}

.chat-room__keyboard__column:first-child{
padding: 10px 0;
}

.chat-room__keyboard__chtting-box{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 25px;
}



.chat-room__chat-box__grey-icon{
    opacity: 0.4;
}

.fa-smile{
    margin-right: 20px;
}

.chat-room__keyboard__chtting-box__icon{
    display: flex;
    align-items: center;
}

.chat-room__keyboard__chtting-box__icon__arrow-up{
    background-color: var(--yellow);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/


.chat-room__keyboard{
    position: fixed;
    bottom: 0;
    width: 100%
}
/* Write a message*/
.write-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    transition: all 0.3s ease;
}
.write-message__column:first-child{
    width: 10%;
    transition: all .4s ease;
}

.write-message__column:last-child{
    display: flex;
    align-items: center;
    width: 90%;
    position: relative;
    transition: all .4s ease;
}

.write-message--input{
    width: 100%;
    border-radius: 20px;
    height: 30px;
    border: 1px solid rgba(0,0,0,0.4);
    padding: 5px;
    padding-left: 10px;
    transition: all 0.3s ease;
}

.write-message__column:last-child .smile-icon{
    position: absolute;
    right: 50px;
}

.write-message__column:last-child button{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    border: none;
    background-color: var(--yellow);
    border-radius: 15px;
    
}

.grey-icon{
    color: rgba(0,0,0,0.6);
}


/*-------------------------------------*/

.key-btn-background-color{
    background-color: rgb(209,212,217);
}


.chat-room__key-btn-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px;
}

.chat-room__key-btn-box__second-line{
    margin: 0px 30px;
}

.margin-left{
    margin-left: 18px;
}

.margin-right{
    margin-right: 18px;
}

.margin-left-0{
    margin-left: 1px;
}

.margin-right-0{
    margin-right: -10px;
}

/*animation chat*/
.chat-room__chat__column:first-child{
    animation: from-right-fadein-chat 1s linear forwards;
}

@keyframes from-right-fadein-chat{
    from{
        transform: translateX(-70px);
        opacity: 0;
    }

    to{
        transform: none;
        opacity: 1;
    }
}

.chat-room__own-chat{
    transform: translateX(150px);
    animation: from-left-fadein-chat 1s linear forwards;
    animation-delay: 1.0s;
}

@keyframes from-left-fadein-chat{
    from{
        transform: translateX(70px);
        opacity: 0;
    }

    to{
        transform: none;
        opacity: 1;
    }
}

.write-message__column:first-child,
.arrow-icon,
.arrow-button,
.smile-icon{
    opacity: 1;
    transition: opacity 1s ease;
}

.write-message:focus-within .write-message__column:first-child,
.write-message:focus-within .arrow-icon,
.write-message:focus-within .arrow-button,
.write-message:focus-within .smile-icon{
    opacity: 0;
}


.write-message:focus-within .write-message__column:last-child{
    width: 100%;
}

.write-message:focus-within .write-message__column:first-child{
    width: 0%;
}

.write-message:focus-within{
    transform: translateY(80px);
}

.write-message:focus-within .write-message--input{
    transform: translateY(-80px);
}