
    
.blue-screen{
    background-color: var(--blue);
}

.chat-room__alt-screen__bar-icon{
        margin-left: 25px;
}

.chat-room__alt-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px 0px 15px;
    padding-top: 15px;
}

.chat-room__alt-screen__column{
    width: 33%;
}

.chat-room__alt-screen__column:nth-child(2){
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.chat-room__alt-screen__column:last-child{
    display: flex;
    justify-content: flex-end;
}

.alt-screen__column__text{
    display: flex;    
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.chat-room__alt-screen__column__text{
    font-size: 20px;
}

.chat-room__header{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    background-color: black;
    opacity: 0.3;
    padding: 7px 0;
    color: rgb(255,255,255);
    border-radius: 15px;
    margin: 45px 130px 0px 130px;
}

.chat-room-screen__link{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.chat-room__link__column{
    position: relative;
    bottom: -9px;
}

.chat-room__chat__column:first-child{
    display: flex;
    margin-top: 20px;
}

.chat-room__chat__img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.chat-room__chat__first-chat{
    margin-left: 10px;
    position: relative;
}

.chat-room__chat__first-chat__title{
    opacity: 0.7;
}

.chat-room__chat__first-chat__text{
    display: block;
    margin-top: 10px;
    background-color: white;
    padding: 7px;
    font-size: 20px;
    border-radius: 10px;
    
}

.chat-room__chat__first-chat__time{
    opacity: 0.7;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    right:-40px;
}


.chat-room__keyboard{
    position: fixed;
    bottom: 0;
    width: 100%
}

.chat-room__keyboard__white-chat-box{
    background-color: white;
}

.key-btn-background-color{
    background-color: rgb(209,212,217);
}
.chat-room__keyboard__column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.chat-room__keyboard__column:first-child{
    padding: 10px 0;
}

.chat-room__keyboard__chtting-box{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px;
    border-radius: 25px;
}

.chat-room__keyboard__chtting-box__text{
    font-size: 19px;
    font-weight: 500;
    margin-right: 270px;
    margin-left: 5px;
}

.chat-room__chat-box__grey-icon{
    opacity: 0.4;
}

.fa-smile{
    margin-right: 20px;
}

.chat-room__keyboard__chtting-box__icon{
    display: flex;
    align-items: center;
}

.chat-room__keyboard__chtting-box__icon__arrow-up{
    background-color: var(--yellow);
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-room__key-btn-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5px;
}

.chat-room__key-btn-box__second-line{
    margin: 0px 30px;
}

.margin-left{
    margin-left: 18px;
}

.margin-right{
    margin-right: 18px;
}

.margin-left-0{
    margin-left: 1px;
}

.margin-right-0{
    margin-right: -10px;
}


