.setting-screen__icon-column{
    display: flex;
    justify-content: space-between;

}

.setting-screen__icon-column__column{
    display: flex;
    align-items: center;
}



.status-bar__column__text{
    font-size: 20px;
    font-weight: 500;
}

.setting-screen__icon-column__column:first-child{
    display: flex;
}

.setting-screen__icon-column__column i{
    margin-right: 30px;
    opacity: 0.7;
}

.setting-screen__icon-column{
    margin-top: 40px;
    border-bottom: var(--main-border);
    padding-bottom: 20px;
}

.setting-screen__default-theme-text,
.setting-screen__latest-version-text{
    opacity: 0.5;
}

.setting-screen__icon__i{
    display: block;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
    font-weight: 600;
}

.setting-screen__icon-column:nth-child(3){
    border-bottom: var(--main-border);
    padding-bottom: 40px;
}

.setting-screen__notice-text{
    position: relative;
    left: -5px;
}

.setting-screen__chat-text{
    position: relative;
    left: -3px;
}

.n-badge{
    background-color: tomato;
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.setting-screen__display-text{
    margin-right: 10px;
}

.setting-screen__text{
    font-size: 20px;
}