.alt-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 15px 0px 15px;
    padding-top: 15px;
}
.alt-screen__column:first-child{
    margin-right: auto;
}

.alt-screen__column:last-child{
    margin-left: auto;
}

.alt-screen__column__text{
    font-size: 28px;
}