.badge{
    background-color: tomato;
    display: block;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-badge{
    animation: animation-badge 1.5s ease-in-out infinite;
}

@keyframes animation-badge{
    0%{
        transform: none;
    }
    50%{
        transform: translateY(-5px) rotateY(360deg);
    }
    100%{
        transform: none;
    }
}