.badge{
    background-color: tomato;
    display: block;
    height: 26px;
    width: 26px;
    border-radius: 13px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}